body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: rgba(158, 199, 168, 0.933);
    color: #fff;
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  .main {
    padding: 100px 80px;
  }
  
  .copy-container h1 {
    font-size: 140px;
  }
  
  .copy-container h2 {
    font-size: 60px;
  }
  
  .copy-container span {
    color: #ff4a4a;
  }
  
 
  /* inputとtextareaのCSSを指定してください */
  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #bfce;
  }
  
  /* contact-submitのCSSを指定してください */
  .contact-submit {
    background-color: #bfce;
    color: #889eab;
  }
  
  .footer {
    background-color: #bfceb7;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }

  .circle {
    width: 100px;
    height: 100px;
    margin : 50px auto;
    border-radius: 50px;
    background: #ed93b0;
    animation: mochimochi 1s infinite;
 }
 
 @keyframes mochimochi {
   0% {
     transform: scale(1, 0.8);
   }
   20% {
     transform: scale(0.8, 1.1);
   }
   90% {
     transform: scale(1, 1);
   }
   100% {
     transform: scale(1, 0.8);
   }
 }